/*aspectos generales: bordes y color de fondo de calculadora*/

#calculadora {
  background-color: #D9E4F1;
  width: 237px;
  height: 320px;
  border: 2.5px solid #f0e0b1;
  border-top: 20px solid #f0e0b1;
}

h6 {
  display: flex;
  margin: 0px;
  position: relative;
  top: -18px;
  align-items: center;
  font-size: 9pt;
  font-style: normal;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

/*pantalla de visualización: bordes, posición, color de fondo, estilo letra.*/

#textoPantalla {
  display: block;
  font-size: 25px;
  text-align: right;
  position: relative;
  left: 7.5px;
  top: 5px;
  width: 210px;
  height: 50px;
  background-color: #f7f9fc;
  border-radius: 2.5px;
  margin-bottom: 10px;
}

/*botones normales: anchura y margen*/

#calculadora [type=button] {
  display: block;
  border: 1px gray solid;
  width: 37px;
  height: 37px;
  border-radius: 5px;
  margin: 4px;
  background-color: #ecf1f8;
}

p {
  margin: 4px;
  display: flex;
  width: 250px;
}

.num {
  font-size: 20px;
}

#calculadora p #cero {
  width: 82px;
}

#calculadora p #igual {
  height: 86px;
  position: relative;
  top: -49px;
  font-size: 25px;
}

#calculadora [type=button]:hover {
  background-image: linear-gradient(#FFEDD9, #FFD574);
  box-shadow: 0 0 2px 1px #FFD574;
}

.largo {
  font-size: 25px;
  color: black;
  font-weight: bold;
}

/*botones especiales

.calculadora input.largo {
  color: red;
  width: 60px;
}
*/

/*.calculadora {
  display: block;
  margin: 0 auto;
  padding: 20px;
  background-color: #D9E4F1;
  width: 400px;
  height: 500px;
  border: 5px solid #EAD390;
  box-shadow: 0 0 0 1px #8E9CAD, 0 0 3px #8E9CAD;
}

.calculadora td button {
  display: block;
  width: 70px;
  height: 70px;
  font-size: 25px;
  border-radius: 5px;
  margin:4px;
}

.calculadora td button:hover {
  background-image: linear-gradient(#FFEDD9, #FFD574);
  box-shadow: 0 0 2px 1px #FFD574;
}

#cero {
  width: 150px;
  font-size: 25px;
}

#igual {
  height: 144px;
  font-size: 25px;
}

/*#resultado {
  display: block;
  text-align: center;
  font-size: 40px;
  margin-bottom: 50px;
  width: 375px;
  height: 100px;
  line-height: 100px;
  background-color: #fff;
  border-radius: 25px;
  overflow-y: scroll;
}*/

/*.display__top, .display__bottom {
  display: block;
  padding-left: 5px;
  padding-right: 5px;
  text-align: right;
  border: none;
  background-color: transparent;
  width: 370px;
}

.display__top {
  font-size: 20px;
  height: 23px;
}

.display__bottom {
  font-size: 35px;
  font-weight: bold;
  height: 50px;
  padding: 10px;
}

.display,.calculadora td button {
  border: 1px solid #8E9CAD;
  border-radius: 3px;
}

.display {
  margin: 12px 12px 6px;
  background-image: linear-gradient(#D9E4F1, white);
  padding-bottom: 6px;
  padding-top: 10px;
}*/